<div id="dashboardWrap">

	<div class="row center">

		<div class="cell columns3">Metro Information</div>

		<div class="cell columns3">Bus Information</div>

		<div class="cell columns3">Bike Information</div>

	</div>


	<div class="cell columns3">
		<div class="row">
			<div class="cell columns3" id="rails">
				<script type="x-handlebars-template" id="rails-template">
					{{each}}
					<div class="row">
						<div class="infoWrap cell  test">
							{{name}} informationinformation information
						</div> 
					</div>

					<div class="row">
						<div class="infoWrap cell  test">
							{{somedata}} information information information
						</div> 
					</div>

					<div class="row">
						<div class="infoWrapn cell  test">
							{{somedata}} information information information
						</div>
					</div> 

					<div class="row">
						<div class="infoWrap cell  test">
							{{somedata}}information information information
						</div> 
					</div>
					{{/each}}
				</script>	
			</div>
		</div>
	</div>

	<div class="cell columns3">
		<div class="row">
			<div class="cell columns3" id="bus">
				<script type="x-handlebars-template" id="bus-template">
					{{each}}
					<div class="row">
						<div class="infoWrap cell  test">
							{{name}} informationinformation information
						</div> 
					</div>

					<div class="row">
						<div class="infoWrap cell  test">
							{{somedata}} information information information
						</div> 
					</div>

					<div class="row">
						<div class="infoWrapn cell  test">
							{{somedata}} information information information
						</div>
					</div> 

					<div class="row">
						<div class="infoWrap cell  test">
							{{somedata}}information information information
						</div> 
					</div>
					{{/each}}
				</script>	
			</div>
		</div>
	</div>

	<div class="cell columns3">
		<div class="row">
			<div class="cell columns3" id="bike">
				<script type="x-handlebars-template" id="bike-template">
					{{each}}
					<div class="row">
						<div class="infoWrap cell  test">
							{{name}} informationinformation information
						</div> 
					</div>

					<div class="row">
						<div class="infoWrap cell  test">
							{{somedata}} information information information
						</div> 
					</div>

					<div class="row">
						<div class="infoWrapn cell  test">
							{{somedata}} information information information
						</div>
					</div> 

					<div class="row">
						<div class="infoWrap cell  test">
							{{somedata}}information information information
						</div> 
					</div>
					{{/each}}
				</script>	
			</div>
		</div>
	</div>

</div>