<h1>Dashboard</h1>

<div id="resultsWrap" class="resultsWrap">

	<div class="row center">

		<div class="cell columns3">Metro Stations</div>

		<div class="cell columns3">Bus Stations</div>

		<div class="cell columns3">Bike Stations</div>

	</div>


	<div class="cell columns3">
		<div class="row">
			<div class="cell columns3" id="rails">
				<script type="x-handlebars-template" id="rails-template">
					<div class="infoWrap">
					<div class="row">
						<div class="cell">
							Station:{{name}}
						</div> 	
					</div>

					<div class="row">
						<div class="cell columns2">
							Bikes:{{bikes}} 
						</div> 
						<div class="cell columns2">
							Empty:{{empty}} 
						</div>
					</div> 
					</div>
				</script>	
			</div>
		</div>
	</div>

	<div class="cell columns3">
		<div class="row">
			<div class="cell columns3" id="bus">
				<script type="x-handlebars-template" id="bus-template">
					<div class="infoWrap">
					<div class="row">
						<div class="cell">
							Station:{{name}}
						</div> 	
					</div>

					<div class="row">
						<div class="cell columns2">
							Bikes:{{bikes}} 
						</div> 
						<div class="cell columns2">
							Empty:{{empty}} 
						</div>
					</div> 
					</div>
				</script>	
			</div>
		</div>
	</div>

	<div class="cell columns3">
		<div class="row">
			<div class="cell" id="bike">
				<script type="x-handlebars-template" id="bike-template">
					
					<div class="infoWrap">
					<div class="row">
						<div class="cell">
							Station:{{name}}
						</div> 	
					</div>

					<div class="row">
						<div class="cell columns2">
							Bikes:{{bikes}} 
						</div> 
						<div class="cell columns2">
							Empty:{{empty}} 
						</div>
					</div> 
					</div>
					
				</script>	
			</div>
		</div>
	</div>

</div>
