<div class="loginWrap">
	<label>Email: <input type="email" id="email"/></label>
	<label>Password: <input type="password" id="password"/></label>
	<a href="#"><button id="login">Login</button></a>
</div>

