body {
	font-family: Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

.row {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.test {
	outline: 1px solid black;
}

button {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
}

.columnHeader {
	margin: auto;
	text-align: center;
}


a button:hover{
     background: rgb(21, 96, 189) ;
}

.cell {
  display: inline-block;
  font-size: 18px;
  vertical-align: top;
  margin-right: 1%;
  padding: 25px;
}

input {
  margin-right: 10px;
  margin-left: 10px;
  height: 34px;
  padding: 6px 12px;
  font-size: 20px;
  color: #555555;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.loginWrap {
	text-align: center;
}

header {
	background-color: lightgrey;
	font-size: 45px;
	font-weight: lighter;
	font-family: Helvetica, sans-serif;
	line-height: 80px;
}

.center {
	text-align: center;
}

.resultsWrap {
	display: none;
}

.columns1 {
  width: ((100% / 10) * 1) - 1%;
}

.columns2 {
  width: ((100% / 10) * 2) - 1%;
}

.columns3 {
  width: 27%;
}

.columns4 {
  width: 19%;
}

.columns5 {
  width: ((100% / 10) * 5) - 1%
}

.columns6 {
  width: ((100% / 10) * 6) - 1%
}

.columns7 {
  width: ((100% / 10) * 7) - 1%
}

.columns8 {
  width: ((100% / 10) * 8) - 1%
}

.columns9 {
  width: ((100% / 10) * 9) - 1%
}

.columns10 {
  width: ((100% / 10) * 10) - 1%;
}

.offset1 {
  margin-left: ((100% / 10) * 1);
}

.offset2 {
  margin-left: ((100% / 10) * 2);
}

.offset3 {
  margin-left: ((100% / 10) * 3);
}

.offset4 {
  margin-left: ((100% / 10) * 4);
}

.offset5 {
  margin-left: ((100% / 10) * 5);
}

.offset6 {
  margin-left: ((100% / 10) * 6);
}

.offset7 {
  margin-left: ((100% / 10) * 7);
}